<div *ngIf="currentRaid">
  <div class="pure-g">
      <div *ngIf="is_prev()"
           class="pure-u-1-5"
           (click)="prev()">
          <h5>[Prev]</h5>
      </div>
      <h5 class="pure-u-3-5">{{currentRaid.name}}</h5>
      <div *ngIf="is_next()"
           class="pure-u-1-5"
           (click)="next()">
          <h5>[Next]</h5>
      </div>
  </div>
  <div class="pure-g">
    <div *ngFor="let boss of bosses"
          class="pure-u-1-2">
      <img [routerLink]="['/boss', boss.id]"
           [class.dead]="boss.is_dead"
           src="{{boss.logo}}"
           title="{{boss.name}}"
           routerLinkActive="active">
    </div>
  </div>
</div>
