<div class="pure-g article">
    <div class="pure-u-1-8 portraits">
        <img *ngIf="article.character"
             [routerLink]="['/character', article.character.id]"
             class="portrait"
             [src]="article.character.portrait">
        <img *ngIf="article.boss"
             [routerLink]="['/boss', article.boss.id]"
             class="portrait"
             [src]="article.boss.logo">
    </div>
    <div class="pure-u-7-8 content">
        <div *ngIf="article.article_type==='link'" class="link_type">
            <a [href]="article.link">{{article.link}}</a>
            <div *ngIf="article.text"
                   class="comment">
                   <small>{{article.text}}</small>
            </div>
        </div>
        <div *ngIf="article.article_type==='log'" class="log_type">
            <a class="wol_float" [href]="article.link">
                <img class="wol" src="https://www.warcraftlogs.com/img/common/warcraft-logo.png">
            </a>
            <p *ngIf="article.text">{{article.text}}</p>
        </div>
        <div *ngIf="article.article_type==='text'" class="text_type">
            <p>{{article.text}}</p>
        </div>
        <div *ngIf="article.article_type==='image'" class="image_type">
            <a [href]="safeurl('/full' + article.link)">
                <img class="image" [src]="article.link + '/400'">
            </a>
            <div *ngIf="article.text"
                   class="comment">
                   <small>{{article.text}}</small>
            </div>
        </div>
        <div *ngIf="article.article_type==='youtube'" class="youtube_type">
            <iframe class="youtube"
                    [src]="youtube(article.link)"
                    frameborder="0"
                    allowfullscreen></iframe>
            <div *ngIf="article.text"
                   class="comment">
                   <small>{{article.text}}</small>
            </div>
        </div>
        <small *ngIf="article.author"
               class="author_name">-{{article.author.username}}</small>
    </div>
</div>
