.portrait {
    width: 95%;
    border-radius: 25%;
    cursor: pointer;
}

.wol {
    width: 50px;
}

.wol_float {
    float: left;
    margin: 5px;
}

.article {
    padding: 5px;
}

.image {
    width: 95%;
}

.youtube {
    width: 95%;
}

.author_name {
    padding-right: 15px;
    float: right;
}

.comment {
    text-align: center;
    width: 95%;
}

.text_type {
    margin: 5px;
}
