<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" (click)="article_type = 'text'" autocomplete="off" checked>Text
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" (click)="article_type = 'link'" autocomplete="off">Link
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" (click)="article_type = 'image'" autocomplete="off">Image
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" (click)="article_type = 'log'" autocomplete="off">Log
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" (click)="article_type='youtube'" autocomplete="off">Youtube
  </label>
</div>

<div class="form-group">
    <label for="characterSelect">Charcter</label>
    <select [(ngModel)]="article.character" id="characterSelect">
        <option></option>
        <option *ngFor="let c of characters" [ngValue]="c">{{c.name}}</option>
    </select>
</div>

<div class="form-group">
    <label for="raidSelect">Raid</label>
    <select [(ngModel)]="raid" (change)="getBosses()" id="raidSelect">
        <option></option>
        <option *ngFor="let r of raids" [ngValue]="r">{{r.name}}</option>
    </select>
</div>

<div *ngIf="bosses" class="form-group">
    <label for="bossSelect">Boss</label>
    <select [(ngModel)]="article.boss" id="bossSelect">
        <option></option>
        <option *ngFor="let b of bosses" [ngValue]="b">{{b.name}}</option>
    </select>
</div>

<input [(ngModel)]="article.text">
<input [(ngModel)]="link">
<button (click)="submit()">Submit</button>
